appdirs==1.4.3
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
logzero==1.5.0
lyricwikia==0.1.9
MarkupSafe==1.1.0
mutagen==1.42.0
pafy==0.5.4
pathlib==1.0.1
PyYAML==3.13
requests==2.21.0
six==1.12.0
soupsieve==1.7.3
spotdl==1.1.2
spotipy==2.4.4
titlecase==0.12.0
Unidecode==1.0.23
urllib3==1.24.1
Werkzeug==0.15.3
WTForms==2.2.1
youtube-dl==2019.1.24
python-slugify
pyAudioAnalysis
pandas
numpy
eyed3
pydub
scipy
matplotlib