	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="./static/img/fav.png">
		<meta charset="UTF-8">
		<title>Music</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="./static/css/linearicons.css">
			<link rel="stylesheet" href="./static/css/owl.carousel.css">
			<link rel="stylesheet" href="./static/css/font-awesome.min.css">
			<link rel="stylesheet" href="./static/css/magnific-popup.css">
			<link rel="stylesheet" href="./static/css/bootstrap.css">
			<link rel="stylesheet" href="./static/css/main.css">
		</head>
		<body>
			<!-- Start Banner Area -->
			<section class="banner-area relative" id="home">
				<div class="container">

			<!-- Start Header Area -->
			<header class="default-header">
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								
							</div>
							<div class="main-menubar d-flex align-items-center">
								<nav class="hide">
									<a href="#home">Home</a>
									<a href="#feature">Feature</a>
									<a href="#about">About</a>
									<a href="#contact">Contact</a>
								</nav>
								<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- End Header Area -->


					
					<div class="col-lg-10">
						<div class="row fullscreen align-items-top justify-content-center" >
							<div class="banner-content align-top">
								<h1 class="text-uppercase text-white">PIANISTA</h1>
								<div id="but" class="align-bottom text-center edit1">
								<a class="btn btn-lg  btn-outline-info"  href="#pika" role="button"><i class="fa fa-shoe-prints"></i> Get Started!</a>
							</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- End Banner Area -->

			<!-- Start quote Area -->
			<section class="quote-area pt-100 pb-100">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-sm-12 quote-left">
							<h2 class="text-right" id="pika">
								<span>Music</span> gives soul to the universe,<br>
								wings to the <span>mind</span>, flight<br>
								to the <span>imagination</span>.
							</h2>
						</div>
						
					</div>
				</div>
			</section>
			<!-- End quote Area -->

			<!--Search Area-->
			<div class="container" data-parallax="scroll" data-image-src="./static/img/kk.jpg" id="search_sec">
				<div class="row">
					<div class="container h-100">
						<div class="d-flex justify-content-center h-100">
						  <div>
                            <form class="searchbar" action="http://localhost:5000/result" method = "POST">
						    <input class="search_input" type="text" name="query" placeholder="Search...">
                            <button type="submit" class="searchbar search_icon"><i class="fa fa-search"></i></button>
                            </form>
						  </div>
						</div>
					</div>
				</div>
			</div>
			
			

			<!-- Start contact Area -->
			<section class="contact-area pt-100 pb-100" id="contact">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-4 title-section">
							<h2 class="text-uppercase">
								Send <br>
								Us <br>
								Message
							</h2>
				
						</div>
						<div class="col-lg-8">
								<form id="myForm" action="mail.php" method="post" class="contact-form">
									<div class="row justify-content-center">
										<div class="col-lg-6">
											<input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-20" required="" type="text">

											<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-20" required="" type="email">

											<input name="phone" placeholder="Enter phone number"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter phone number'" class="common-input mt-20" required="" type="tel">
										</div>
										<div class="col-lg-6">
											<textarea class="common-textarea mt-20" name="message" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>

											<button class="primary-btn d-inline-flex align-items-center mt-20"><span class="mr-10">Send Message</span><span class="lnr lnr-arrow-right"></span></button> <br>
											<div class="alert-msg"></div>
										</div>
									</div>
								</form>
						</div>
					</div>
				</div>
			</section>
			<!-- End contact Area -->


			<!-- Strat Footer Area -->

			<footer class="footer-area">
				<div class="container">
					<div class="row footer-content">
						<div class="col-lg-6 copy-right-text">
							Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="www.github.com/arshjat" target="_blank">Arsh Panghal</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="col-lg-6 footer-social">
							<a href="https://www.facebook.com/arsh.panghal"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/ArshPanghal"><i class="fa fa-twitter"></i></a>
							<a href="https://www.instagram.com/arshpanghal"><i class="fa fa-instagram"></i></a>
							<a href="https://www.linkedin.com/in/arsh-panghal/"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</footer>

			<!-- End Footer Area -->


			<script src="./static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="./static/js/vendor/bootstrap.min.js"></script>
			<script src="./static/js/owl.carousel.min.js"></script>
			<script src="./static/js/jquery.sticky.js"></script>
			<script src="./static/js/parallax.min.js"></script>
			<script src="./static/js/jquery.magnific-popup.min.js"></script>
			<script src="./static/js/main.js"></script>
		</body>
	</html>
