*{
  margin:0;
  padding:0;
}
body{
  overflow:hidden;
}

button.play {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 99;
    display: block;
    width: 200px;
    height: 50px;
    background: #fff;
    font-size: 1em;
    border: 0;
    right: 0;
    bottom: 0;
  
  &.isPlaying{
    display:none;
  }
}